a {
  text-decoration: none;
}

body {
  background-color:lavander;

}

header {
  text-align: center;
  padding: 20px;
}


h1 {
  font-size: 24px;
}


section {
  margin: 20px;
}

h2 {
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}


footer {
  
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  
}
nav a {
  text-decoration: none;
  color: green; 
}

nav a:visited {
  color: pink; 
}

nav a:hover {
  color: red; 
  text-decoration: underline;
}

nav a:active {
  color: yellow;
}
  
  
