
logo {
  width: 400px;
  height: 400px;
}

body{
  background-color: lavender;
}

title {
  font-size: 24px;
  font-weight: bold;
}

vehicle-image {
  width: 450px;
  height: 450px;
}


footer {

  padding: 20px;
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  display: inline;
  margin-right: 10px;
}

